.main{
    width: 1157px;
    height: 822px;
    position: relative;
}

.mainContainer{
    width: 567px;
    height: 696px;
    position: absolute;
    top: 64px;
    left: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.details{
    width: 567px;
    height: 651px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.logoMail
{
    width: 567px;
    height: 96px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 24px 32px;
    background: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(5, 5, 82, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoCont{
    width: 88.8px;
    height: 48px;
    position: relative;
}
.logoCont img:nth-child(1){
    position: absolute;
    z-index: 1;
}
.logoCont img:nth-child(2){
    position: absolute;
    left: 40.8px;
}

.mailCont{
    width: 394.2px;
    height: 46px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.mailCont h2{
    width: 163px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.8);
}
.mailCont p{
    width: 111px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.6);
}


                    /* warning section */
.warningSection
{
    width: 567px;
    height: 409px;
    padding: 24px 32px;
    display: flex;
    gap: 33px;
}

.warningCont
{
    width: 495px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.collectedInfoCont{
    width: 495px;
    height: 87px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.warnHeading{
    width: 180px;
    height: 21px;
}
.warnHeading h2{
    width: 487px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.8);
}
.detailsChecks{
    width: 495px;
    height: 54px;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.detailsChecks div{
    width: 491px;
    height: 21px;
    display: flex;
    gap: 10px;
}
.detailsChecks input{
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.detailsChecks p{
    width: 465px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.6);

}

.purposeCont{
    width: 495px;
    height: 87px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}
.purposeCont div{
    width: 495px;
    height: 21px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.purposeCont h3{
    width: 495px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.8);
}
.purposeCont p{
    width: 495px;
    height: 21px;
    font-family: "Inter",serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(5, 5, 82, 0.6);

}




                            /* terms&Policy */
.termsPolicySection{
    width: 567px;
    height: 146px;
    padding: 24px 32px;
    border-top: 1px solid rgba(5, 5, 82, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tpStatement{
    width: 503px;
    height: 42px;
    display: flex;
    gap: 12px;
}
.tpStatement p{
    width: 503px;
    height: 42px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(65, 65, 65, 1);
}
.tpStatement span{
    color: rgba(85, 78, 241, 1);
}

.buttonsCont{
    width: 503px;
    height: 42px;
    display: flex;
    gap: 12px;
}
.buttonsCont button:nth-child(1):hover{
    cursor: pointer;
    background-color: #f0f0f0; 
    color: #000;
}

.buttonsCont button{
    width: 245.5px;
    min-width: 64px;
    border-radius: 6px;
    height: 36px;
    padding: 11.5px 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 219, 221, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.buttonsCont h4{
    width: 213.5px;
    height: 21px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
    text-align: center;
    color: rgba(68, 68, 68, 1);
}

.buttonsCont .btnBlue{
    background: rgba(85, 78, 241, 1);
}
.buttonsCont .btnBlue:hover{
    cursor: pointer;
    background-color: rgba(85, 78, 241, 0.8);
}
.btnBlue h4{
    color: rgba(255, 255, 255, 1);
}
.btnBlue h4:hover{
    color: #000; 
}



                            /* // version */
.version
{
    width: 105px;
    height: 21px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.4px;
    text-align: center;
    color: rgba(5, 5, 82, 0.6);

}